.start_screen {
    background-image: url('~src/assets/img/background.jpg');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start_screen_terminal {
    background-image: url('~src/assets/img/startbox.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 1024px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.start_btn {
    width: 30%;
    height: 10%;
    position: absolute;
    bottom: 25vh;
    cursor: pointer;

    &:hover {
        filter: brightness(1.1);
    }
}

.attribution_btn {
    position: absolute;
    bottom: 16px;
    right: 16px;
    border: none;
    border-radius: 5px;
    background-color: #C19100;
    padding: 5px 8px 5px 8px;
    font-weight: bold;
    cursor: pointer;
    
    &:hover {
        filter: brightness(1.15);
    }
}

@media (max-width: 414px) {

    .start_btn {
        width: 50%;
        height: 10%;
        bottom: 33vh;
    }
}