.btn_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    position: fixed;
    top: 24px;
    right: 0;
    height: 70px;
    width: 200px;
    background-image: url('~src/assets/img/menu.png');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 7px;
    background-color: rgba(0, 0, 0, 0.5);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding-left: 15px;
    cursor: pointer;
    transform: translateX(175px);

    // &:hover {
    //     animation: openMenu 350ms ease-in-out;
    //     transform: translateX(0);
    // }
}

.slide_out {
    animation: openMenu 350ms ease-in-out;
    transform: translateX(0);
}

.link_btn {
    color: white;
    padding: 10px;
}

@keyframes openMenu {
    from {
        transform: translateX(175px);
    }

    to {
        transform: translateX(0);
    }
}
