<h1 class="headline" mat-dialog-title>Attributions</h1>
<div mat-dialog-content>
    <p>Thank you to the creators of the icons i'm allowed to use</p>
    <a href="https://www.flaticon.com/free-icon/person_1154469" title="head icons">Head icons created by Freepik - Flaticon</a><br>
    <a href="https://www.flaticon.com/packs/people-5?word=avatar" title="icons">icons created by Roundicons - Flaticon</a>
</div>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="" cdkFocusInitial>Ok</button>
</div>