.container {
    padding: 16px;

    img {
        width: 60px;
        height: 60px;
        margin: 0 3px 6px 3px;
        cursor: pointer;

        &:hover {
            filter: brightness(1.25);
        }
    }
}

.avatar_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}